<IfModule mod_rewrite.c>

    RewriteEngine on

    RewriteRule ^p/(.*)$ posts/post.php?id=$1						[NC,L]
    RewriteRule ^register$ users/register.php						[NC,L]
    RewriteRule ^login$ users/login.php								[NC,L]

</IfModule>